.icon {
  display: flex;
  height: 2em;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: context-menu;
  padding: 2px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.content {
  padding: 0 18px;
  /* max-height: 0px; */
  opacity: 1;
  display: none;
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
  /* background-color: #f1f1f1; */
}
.active,
.collapsible:hover {
  background-color: #ccc;
}
.collapsible:after {
  content: "\02795";
  font-size: 5px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.center {
  text-align: center;
  /* display: flex; */
}
#github {
  background-color: #eee;
  color: #444;
  cursor: context-menu;
  padding: 2px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
